body {
	background: url(images/pattern/spiration-light.png);
}
/* navbar total fixed position */
	div.navbar-total {
		position: fixed;
		top: 0;
		padding: 0;
		margin: 0;
		z-index: 1000;
	}
/* barra de navegacion con pestañas contenido responsivo */
	li.nav-item a {
		color: rgba(255,255,255,0.6);
		background-color: rgba(0,0,0,0.6);
		text-align: center;
		margin-left: -12px;
		margin-right: -12px;
		border-radius: 5px 5px 0px 0px;
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 300;
		height: 25px;
		line-height: 10px;
		font-size: 14px;
		text-transform: uppercase;
	}
	li.nav-item.active a{
		color: #000;
		background-color: rgba(248,249,250,0.7); 
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 400;
		text-transform: uppercase;
		/*border-top: solid 1px #D4145A;*/
	}
	nav.navbar.navbar-expand-lg.navbar-fixed-top { 
		padding-bottom: 0;
		margin-bottom: 0;
	}
	@media only screen and (max-width: 450px) {
		.tabli.col-12.col-sm-12 {
			font-size: 12px;
			padding: 0;
		}
		nav.navbar.navbar-expand-lg.navbar-fixed-top {
			padding: 0;
		}
		li.nav-item a {
			border-bottom: solid 1px #fff;
			border-radius: 0px;
			background-color: transparent;
		}
		nav ul.navbar-nav.tabs {
			display: block;
		}
		nav.navbar.navbar-expand-lg.navbar-fixed-top {
			background-color: rgba(0,0,0,0.6);
		}
		nav.navbar.navbar-expand-lg.navbar-fixed-top div.container {
			padding: 0;
		} 
	}
	@media only screen and (min-width: 451px) and (max-width: 992px) {
		.tabli {
			font-size: 12px;
		}
		nav.navbar.navbar-expand-lg.navbar-fixed-top {
			padding: 0;
		}
		nav ul.navbar-nav.tabs {
			flex-direction: row;
			max-width: 100vw;
			overflow-x: scroll;
		}
		nav ul.navbar-nav.tabs::-webkit-scrollbar { 
			-ms-overflow-style: none; 
			overflow: -moz-scrollbars-none;
			display: none; 
			overflow: hidden;
		}
	}
/* barra de navegacion con pestañas contenido responsivo */
/* -------------------------------------------------------------------------------------------------------------------- */
/* logo y fondo barra de navegacion */
	a.navbar-brand img {
		height: 55px;
		margin-left: 30px;
	}
	nav.navbar.navbar-top {
		background: linear-gradient(to bottom, rgba(248,249,250,0.7), rgba(248,249,250,1));
		border-bottom: solid 2px #8F1B3A;
		/*box-shadow: 0px 2px 10px rgba(0,0,0,0.5) ;*/
		padding-bottom: 0px;
		padding-top: 0px;
	}
	@media only screen and (max-width: 400px) {
		a.navbar-brand img {
			height: 50px;
			margin-left: 0px;
		}
	}
	@media only screen and (min-width: 401px) and (max-width: 992px) {
	
	}
/* logo y fondo barra de navegacion */
/* -------------------------------------------------------------------------------------------------------------------- */
/* boton y dropdown de ingreso de usuario */
	nav ul.logindrop.navbar-nav {
		position: absolute;
		right: 100px;
		top: -13px;
	}
	nav li span.nav-item-drop {
		position: relative;
		right: 150px;
		color: rgba(0,0,0,0.8);
		font-weight: 300;
		top: 20px;
	}
	nav button.dropdown-toggle {
		color: #fff;
		background: linear-gradient(to right, #8F1B3A, #D4145A);
		margin-left: 20px;
		border-radius: 0px 0px 5px 5px;
		padding: 10px;
		position: relative;
		top: -11px;
		border: none;
		box-sizing: border-box;
	}
	nav ul#login-dp.dropdown-menu.show {
		padding: 20px;
		position: absolute;
		width: 300px;
		right: 0;
		left: auto;
	}
	nav ul#login-dp.dropdown-menu.show button.btn-primary {
		background-color: #1EADDB;
	}
	nav ul#login-dp.dropdown-menu.show div.checkbox label {
		font-size: 10px;
	}
	nav ul#login-dp.dropdown-menu.show div.bottom.text-center a p {
		font-size: 14px;
		margin-bottom: 2px;
		color: #1EADDB;
	}
	nav ul#login-dp.dropdown-menu.show div.help-block.text-right a {
		color: #1EADDB;
	}
	a.que-es-siisapass:hover{
		position: relative;
	}
	a.que-es-siisapass:hover:after {
		position: fixed;
		content: url(images/que-es-siisapass.svg); 
    	display: inline-block;
    	width: 350px;
    	top: 100px;
    	left: 50%;
    	transform: translateX(-50%);
    	z-index: 1000;
   	}
   	button.que-es-siisapass:hover{
		position: relative;
	}
	button.que-es-siisapass:hover:after {
		position: fixed;
		content: url(images/que-es-siisapass.svg); 
    	display: inline-block;
    	width: 350px;
    	top: 100px;
    	left: 50%;
    	transform: translateX(-50%);
    	z-index: 1000;
   	}
	@media only screen and (max-width: 500px) {
		nav li span.nav-item-drop {
			display: none;
		}
		nav button.dropdown-toggle {
			font-size: 12px;
			top: 13px;
		}
		nav ul.logindrop.navbar-nav {
			right: 50px;
		}
	}
	@media only screen and (min-width: 401px) and (max-width: 992px) {
	nav ul.logindrop.navbar-nav {
			right: 55px;
		}
	}
/* boton y dropdown de ingreso de usuario */
/* -------------------------------------------------------------------------------------------------------------------- */
/* boton y dropdown de sesion de usuario */
	div.logOut h4 {
		color: #1EADDB;
		font-family: 'Roboto Condensed', sans-serif;
		text-align: center;
		margin-bottom: 0px;
	}
	div.logOut p a {
		color: #1EADDB;
		font-family: 'Roboto Condensed', sans-serif;
		text-align: center;
	}
	div.logOut a{
		text-decoration: none;
		text-align: center;
	}
	div.logOut p {
		margin-bottom: 10px;
		text-align: center;
		color: #1EADDB;
	}
	div.logOut div.separadorAzul {
		position: relative;
		border: solid 1px #1EADDB;
		margin-bottom: 20px;
	}
	div.logOut img.user-logo {
		width: 120px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
	}
	/* cambio de dropdown */
	div.logIn {
		display: block;
	}
	div.logOut {
		display: none;
	}
	/* cambio de dropdown */
	div.logOut div.datosUser {
		display: block;
	}
	div.logOut div.cambioPass {
		display: none;
	}
	div.logOut div.cambioData {
		display: none;
	}
	div.logOut button a {
		color: #fff;
	}
	div.logOut button {
		border: none;
	}
/* boton y dropdown de sesion de usuario */
/* -------------------------------------------------------------------------------------------------------------------- */
/* imagen de fondo cabecera */
	header div.back-image {
		background: url(images/background.jpg) no-repeat center center fixed;
		background-size: cover;
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		height: 100px;
		width: 100%;
		margin: 0;
		margin-bottom: 1px;
	}
	header div.back-color{
		background: linear-gradient(to right, #62C2E1, #1785A8);
		display: block;
		left: 0;
		top: 0;
		right: 0;
		height: 250px;
		z-index: -1;
	}
	header div.back-color h1.siisapass-hero {
		text-align: center;
		color: #fff;
		padding-top: 150px;
	}
	@media only screen and (max-width: 450px) {
		header div.back-image {
			height: 392px;
		}
	}
	@media only screen and (min-width: 451px) and (max-width: 992px) {
	
	}
/* imagen de fondo cabecera */
/* -------------------------------------------------------------------------------------------------------------------- */
/* Obtener SiisaPass */
	.form-group input:invalid {
		border-left: solid 2px red;
	}
	.form-group input:valid {
		border-left: solid 2px palegreen;
	}
	.form-group input:required {
		border-left: solid 2px #999;
	}
	.form-group input:optional {
		border-left: solid 2px #ddd;
	}
	section.siisapass div.back-white {
		background-color: #fff;
		padding-top: 20px;
		padding-bottom: 10px;
	}
	section.siisapass p.aviso {
		color: #1785A8;
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 400;
		font-size: 18px;
	}
	section.siisapass div.vineta-titulo {
		background-color: #1785A8;
	}
	section.siisapass div.vineta-titulo h2 {
		color: #fff;
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 300;
		text-align: center;
		letter-spacing: 0.1em;
		margin-bottom: 0;
	}
	img.imagen-ejemplo {
		width: 100%;
		height: 100%;
	}
	section.siisapass div.form-group.row input#toggle-on.radio {
		margin-left: 20px;
		margin-right: 10px
	}
	section.siisapass div.form-group.row input#toggle-off.radio {
		margin-left: 20px;
		margin-right: 10px
	}
	#hijos {
		display: none;
	}
	.terminosycondiciones {
		text-align: center;
		font-size: 18px;
		margin-top: 30px;
		margin-bottom: 50px
	}
	label.medio-pago {
		text-align: center;
		background-color: #1785A8;
		color: #fff;
		margin-bottom: 20px;
	}
	img.pago-web {
		max-width: 300px;
		margin-top: 20px;
		margin-bottom: 30px;
	}
	section.siisapass div.form-group.row input#factura-toggle-on.radio {
		margin-left: 20px;
		margin-right: 10px
	}
	section.siisapass div.form-group.row input#factura-toggle-off.radio {
		margin-left: 20px;
		margin-right: 10px
	} 
	#factura {
		display: none;
	}
	.pie-form p {
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.condiciones p {
		color: #1785A8;
		font-size: 12px;
	}
	.boton-final button {
		width: 100%;
		height: 50px;
		margin-top: 50px;
	}
	.politicas-privacidad h2 {
		text-align: center;
		background-color: #1785A8;
		color: #fff;
		margin-bottom: 20px;
		margin-top: 60px;
	}
	.politicas-privacidad div.text-box {
		max-height: 350px;
		overflow-y: scroll;
		border: solid 1px #1785A8;
	}
	.condiciones-de-uso h2 {
		text-align: center;
		background-color: #1785A8;
		color: #fff;
		margin-bottom: 20px;
		margin-top: 60px;
	}
	.condiciones-de-uso div.text-box {
		max-height: 350px;
		overflow-y: scroll;
		border: solid 1px #1785A8;
	}
	.text-box p.condiciones {
		color: #555;
		font-size: 12px;
		text-align: justify;
		padding-right: 30px;
		margin-left: 20px;
		margin-top: 30px;
	}
	.text-box ol li {
		color: #555;
		font-size: 12px;
		text-align: justify;
		padding-right: 30px;
		margin-left: 20px
	}
	@media only screen and (max-width: 400px) {
		img.pago-web {
		max-width: 110px;
		margin-top: 20px;
		margin-bottom: 30px;
		}
	}
	@media only screen and (min-width: 401px) and (max-width: 520px) {
		
	}
	@media only screen and (min-width: 521px) and (max-width: 800px) {
		
	}
	@media only screen and (min-width: 801px) and (max-width: 992px) {
		
	}
/* Obtener SiisaPass */
/* -------------------------------------------------------------------------------------------------------------------- */
/* barra de navegacion del carro de compras con links directos a cada seccion del carro */
	div.header {
		height: 132px;
	}
	div.cart-bar ul.links {
		display: block;
	    background: linear-gradient(to right, #8F1B3A, #D4145A);
	    position: absolute;
	    width: 100%;
	    top: 100px;
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    z-index: 1;
	}
	div.cart-bar ul.links li{
		float: left;
		width: 33.3%
	}
	div.cart-bar ul.links li.active {
		background-color: rgba(255,255,255,0.2); 
	}
	div.cart-bar ul.links li:hover{
		background-color: rgba(255,255,255,0.2);
	}
	div.cart-bar ul.links li a.menu-link {
		color: #fff;
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 300;
		display: block;
	    text-align: center;
	    padding: 8px;
	    padding-top: 4px;
	    padding-bottom: 4px;
	    text-decoration: none;
	}
	div.cart-bar ul.links li.dropdown a.menu-link.dropdown-toggle::after {
		display: none;
	}
	div.cart-bar ul.links div.container.show div.dropdown-menu.show {
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 300;
		padding: 20px;
		width: 600px;
		border-radius: 10px;
	}
	div.cart-bar ul.links div.container.show div.help-block.text-center a {
		color: #1785A8;
		font-size: 20px;
		text-align: center;
	}
	div.cart-bar ul.links div.container.show div.dropdown-menu.show button.btn-primary {
		background-color: #1EADDB;
	}
	div.cart-bar ul.links div.container.show div.dropdown-menu.show button.btn-secondary {
		background-color: #fff;
		border: solid #1EADDB 2px;
	}
	div.cart-bar ul.links div.container.show div.dropdown-menu.show button.btn-secondary a {
		color: #1EADDB;
	}
	div.cart-bar ul.links div.container.show div.dropdown-menu.show div.texto p {
		margin-bottom: 20px;
		padding: 0;
	}
	@media only screen and (max-width: 400px) {
		div.cart-bar ul.links li a.menu-link {
			font-size: 12px;
		}
		div.cart-bar ul.links {
			top: 90px;
		}
		div.cart-bar ul.links div.container.show div.dropdown-menu.show {
		padding: 20px;
		max-width: 350px;
		}
		div.cart-bar ul.links div.container.show div.dropdown-menu.show button {
			font-size: 12px;
		}
	}
	@media only screen and (min-width: 401px) and (max-width: 992px) {
	
	}
/* barra de navegacion del carro de compras con links directos a cada seccion del carro */
/* -------------------------------------------------------------------------------------------------------------------- */
/* barra de etapa de compra */
	div.shop-bar {
		position: relative;
		display: block;
	}
	div.shop-bar div.etapa.active div.status-bar {
		height: 4px;
		background-color: #fff;
	}
	div.shop-bar div.etapa div.status-bar {
		height: 4px;
		background-color: rgba(0,0,0,0.4);
		margin-top: 5px;
	}
	div.shop-bar div.etapa.col-3.col-sm-3.col-md-3.col-lg-3.col-xl-3 {
		padding-left: 2px;
		padding-right: 2px;
	}
	div.shop-bar ul.links {
	    background: linear-gradient(to right, #8F1B3A, #D4145A);
	    width: 100%;
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    overflow: hidden;
	    padding-bottom: 5px;
}
	div.shop-bar ul.links li a.menu-link.active {
		color: #fff;
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 300;
		display: block;
	    text-align: center;
	    text-decoration: none;
	}
	div.shop-bar ul.links li a.menu-link {
		color: rgba(0,0,0,0.8);
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 300;
		display: block;
	    text-align: center;
	    text-decoration: none;
	    font-size: 14px;
	}
/* barra de etapa de compra */
/* -------------------------------------------------------------------------------------------------------------------- */
/* Descripcion del carro */
	div.descripcion-back {
		background-color: #1785A8;
		color: #fff;
		padding-top: 10px;
		padding-bottom: 10px;
		font-family: 'Open Sans', sans-serif;
		font-size: 1em;
		position: relative;
	}
	div.descripcion-back p.letra-chica {
		font-size: 10px;
		font-weight: 300;
		margin-bottom: 2px;
	}
/* Descripcion del carro */
/* -------------------------------------------------------------------------------------------------------------------- */
/* Productos y servicios (tarjetas de productos) */
	section.productos-cart.container.row {
		display: flex;
		position: absolute;
	}
	section.productos-cart.container.row.col {
		flex: 1;	
	}
	.card-1 {
		font-family: 'Open Sans', sans-serif;
		background-color: #1785A8;
		border-radius: 10px;
		text-align: center;
		color: #fff;
		padding: 0;
		padding-top: 5px;
		padding-bottom: 10px;
		width: 100%;	
	}
	.col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3 {
		margin-top: 10px;
		margin-bottom: 20px;
	}
	.card-1 p.ejemplo,
	.card-2 p.ejemplo {
		font-size: 0.8em;
	}
	div.linea {
		height: 1px;
		width: 100%;
		background-color: #fff;
		margin-bottom: 10px;
	}
	.card-1 img {
		height: 100px;
	}
	.card-1 p {
		margin-bottom: 5px;
		color: #fff;
	}
	.card-1 p.titulo {
		font-size: 1em;
		height: 50px;
		margin-top: 15px;
		padding-left: 5px;
		padding-right: 5px;	
	}
	.card-1 p.cuerpo {
		text-align: justify;
		font-size: 0.7em;
		padding-right: 20px;
		padding-left: 20px;
		min-height: 70px;
	}
	a.add-cart p{
		color: #fff;
	}
	.card-2 {
		font-family: 'Open Sans', sans-serif;
		background-color: #1EADDB;
		border-radius: 10px;
		text-align: center;
		color: #fff;
		padding: 0;
		padding-top: 5px;
		padding-bottom: 10px;
	}
	div.linea {
		height: 1px;
		width: 100%;
		background-color: #fff;
		margin-bottom: 10px;
	}
	.card-2 img {
		height: 100px;
	}
	.card-2 p {
		margin-bottom: 5px;
		color: #fff;
	}
	.card-2 p.titulo {
		font-size: 1em;
		height: 50px;
		margin-top: 15px;
		padding-left: 5px;
		padding-right: 5px;	
	}
	.card-2 p.cuerpo {
		text-align: justify;
		font-size: 0.7em;
		padding-right: 20px;
		padding-left: 20px;
		min-height: 70px;
	}
	a.add-cart p{
		color: #fff;
	}
	.cambio-seccion {
		background-color: #1785A8;
		width: 100%;
		border-radius: 5px;
		margin-bottom: 10px
	}
	.cambio-seccion p.titulo {
		color: #fff;
		text-align: center;
		padding-top: 5px;
		padding-bottom: 0;
		margin-bottom: 5px;
		font-size: 1em;
	}
	div.servicio-vigilancia {
		margin-bottom: 10px;
	}
	div.servicio-vigilancia p.cuerpo-vigilancia {
		text-align: left;
		font-size: 0.9em;
		padding: 20px;
		padding-top: 10px;
	}	
	div.servicio-vigilancia img.vigilancia-logo {
		margin-top: 10px;
		margin-bottom: 5px;
		height: 100px;
	}
	div.servicio-vigilancia div.dropdown-list {
		margin-bottom: 20px;
	}
	img.logo-vehiculo-reporte {
		max-width: 100px;
	}
	button.add-product {
		background-color: transparent;
		border: none;
		color: #fff;
	}
	.contactForm {
		display: none; /* Hidden by default */
	    position: fixed; /* Stay in place */
	    z-index: 1; /* Sit on top */
	    left: 0;
	    top: 0;
	    width: 100%; /* Full width */
	    height: 100%; /* Full height */
	    overflow: auto; /* Enable scroll if needed */
	    background-color: rgb(0,0,0); /* Fallback color */
	    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
	}
	.formReporte {
		width: 600px;
		position: fixed;
		background-color: #fff;
		z-index: 1000;
		color: #1EADDB;
		border: solid 2px #1EADDB;
		border-radius: 10px;
		top:50%;
		left:50%;
		padding-top: 30px;
		transform: translate(-50%,-50%);
		-webkit-transform: translate(-50%,-50%)
	}
	.btn-d {
		color: #FFF;
		background-color: #1785A8;
		border: solid 2px #1EADDB;
		border-radius: 5px;
	}
	@media only screen and (max-width: 450px) {
		div.servicio-vigilancia div.dropdown-menu.show a.dropdown-item {
			font-size: 12px;
		}
		.formReporte {
			width: 350px;
			max-height: 450px;
			overflow: auto; 
		}
	}	
	@media only screen and (min-width: 451px) and (max-width: 992px) {

	}
/* -------------------------------------------------------------------------------------------------------------------- */
/* Seccion descripcion de productos (seleccion de 3 vias)*/
	section.productos {
		margin-top:130px;
		background: linear-gradient(to right, #62C2E1 50%, #1785A8 50%);
	}
	.productos.container.row {
	  display: flex;
	  position: absolute;
	}
	.productos.container.row.col {
	  flex: 1; 
	}
	.persona {
		background-color: #62C2E1;
		color: #fff;
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 300;
	}
	.persona img,
	.empresa img,
	.vehiculo img  {
		margin-top: 40px;
		margin-bottom: 40px;
		width: 100%;
		padding-left: 20%;
		padding-right: 20%;
	}
	.persona h2,
	.empresa h2, 
	.vehiculo h2 {
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 300;
		text-transform: uppercase;
		font-size: 28px;
		text-align: center;
		margin-bottom: 20px;
	}
	.persona p,
	.empresa p,
	.vehiculo p {
		padding-right: 20px;
	  	padding-left: 20px;
	  	text-align: justify;
	  	margin-bottom: 100px;
	}
	.empresa {
		background-color: #1EADDB;
		color: #fff;
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 300;
	}
	.vehiculo {
		background-color: #1785A8;
		color: #fff;
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 300;
	}
	button.btn-c {
		padding: 5px;
		margin-top: 0px;
		margin-bottom: 30px;
	    background: rgba(0,0,0,0.5);
	    border: solid 1px #fff;
	    border-radius: 10px;
	    font-family: 'Roboto Condensed', sans-serif;
	    width: 50%;
	    transform: translateX(50%);
	}
	button.btn-c a {
		color: #fff;
		text-decoration: none;
	}
	button.dropdown-toggle.btn.btn-c a {
		color: #fff;
	}
	button.dropdown-toggle.btn.btn-c::after {
		display: none;
	}
	div#login-dp-persona.dropdown-menu.show {
		padding: 20px;
		width: 600px;
		border-radius: 10px;
	}
	div#login-dp-persona div.help-block.text-center a {
		color: #1785A8;
		font-size: 20px;
		text-align: center;
	}
	div#login-dp-persona.dropdown-menu.show button.btn-primary {
		background-color: #1EADDB;
	}
	div#login-dp-persona.dropdown-menu.show button.btn-secondary {
		background-color: #fff;
		border: solid #1EADDB 2px;
	}
	div#login-dp-persona.dropdown-menu.show button.btn-secondary a {
		color: #1EADDB;
	}
	div#login-dp-persona.dropdown-menu.show div.texto p {
		margin-bottom: 20px;
		padding: 0;
	}
	@media only screen and (max-width: 400px) {
		button.btn-c {
			width: 100%;
			transform: translateX(0%);
		}
		.persona p,
		.empresa p,
		.vehiculo p {
			padding-right: 5px;
			padding-left: 5px;
		}
		div#login-dp-persona.dropdown-menu.show {
		padding: 20px;
		max-width: 350px;
		}
		div#login-dp-persona.dropdown-menu.show button {
			font-size: 12px;
		}
	}
	@media only screen and (min-width: 401px) and (max-width: 520px) {
		button.btn-c {
			width: 100%;
			transform: translateX(0%);
		}
	}
	@media only screen and (min-width: 521px) and (max-width: 800px) {
		.persona h2,
		.empresa h2, 
		.vehiculo h2 {
			font-size: 18px;
		}
		button.btn-c a {
			font-size: 12px;
		}
		.persona p,
		.empresa p,
		.vehiculo p {
			font-size: 12px;
			padding-right: 5px;
			padding-left: 5px;
		}
		button.btn-c {
			width: 100%;
			transform: translateX(0%);
		}
	}
	@media only screen and (min-width: 801px) and (max-width: 992px) {
		
	}
	@media only screen and (min-width: 1920px) {
		.persona p,
		.empresa p,
		.vehiculo p {
		  	margin-bottom: 182px;
		}
	}
/* Seccion descripcion de productos */
/* -------------------------------------------------------------------------------------------------------------------- */
/* Barra de Usuario y carro */
	section.user-bar {
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 300;
		border: solid 2px #1785A8;
		border-bottom: solid 15px #1785A8;
		background-color: #fff;
	}
	section.user-bar li.list-group-item {
		padding: 2px;
	}
	section.user-bar div.user p.cart-title {
		margin-bottom: 10px;
		font-size: 1.5em;
	}
	section.user-bar div.detail,
	section.user-bar div.pay,
	section.user-bar div.services {
		color: #1785A8;	
		margin: 0;
		text-align: left;
		padding-top: 20px;
	}
	section.user-bar div.pay {
		border-right: solid 2px #1785A8;
	}
	section.user-bar button.btn-pay {
		background-color: #1EADDB;
		border: solid 2px #1785A8;
		color: #fff;
		border-radius: 5px;
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 300;
		font-size: .9em;
		width: 90%;
		margin-bottom: 20px;
		margin-top: 10px;
		width: 100%
	}
	section.user-bar div.col {
		padding: 0;
		margin: 0;
		margin-top: 10px
	}
	@media only screen and (max-width: 450px) {
		section.user-bar div.pay {
			border-right: none;
			border-bottom: solid 2px #1785A8;
		}		
	}	
	@media only screen and (min-width: 451px) and (max-width: 992px) {

	}
/* Barra de Usuario y carro */
/* -------------------------------------------------------------------------------------------------------------------- */
/* carro de compras lateral */
	#cd-cart-trigger {
		margin-right: 15px;
		position: relative;
		right: -22px;
	}
	#cd-cart-trigger svg path {
		color: #D4145A;
	}
	@media only screen and (min-width: 1200px) {
		#cd-cart-trigger {
			/* cart right margin on desktop */
			right: 0;
		}
		#cd-cart-trigger a {
			position: relative;
			width: 100px;
			border-left: none;
			background-color: none;
		}
	}

	#main-nav, #cd-cart {
		position: fixed;
		top: 0;
		max-height: 80%;
		width: 280px;
		/* header height */
		padding-top: 50px;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
		z-index: 3;
	}
	@media only screen and (min-width: 768px) {
		#main-nav, #cd-cart {
			width: 350px;
		}
	}
	@media only screen and (min-width: 1200px) {
		#main-nav, #cd-cart {
			width: 30%;
			/* header height has changed */
			padding-top: 80px;
		}
	}
	#cd-cart {
		right: -100%;
		top: 100px;
		background: #FFF;
		-webkit-transition: right 0.3s;
		-moz-transition: right 0.3s;
		transition: right 0.3s;
	}
	#cd-cart.speed-in {
		right: 0;
		padding-top: 10px;
	}
	#cd-cart > * {
		padding: 0 1em;
	}
	#cd-cart h2 {
		font-size: 14px;
		font-size: 0.875rem;
		font-weight: bold;
		text-transform: uppercase;
		margin: 1em 0;
	}
	#cd-cart .cd-cart-items {
		padding: 0;
	}
	#cd-cart .cd-cart-items li {
		position: relative;
		padding: 1em;
		border-top: 1px solid #e0e6ef;
	}
	#cd-cart .cd-cart-items li:last-child {
		border-bottom: 1px solid #e0e6ef;
	}
	#cd-cart .cd-qty, #cd-cart .cd-price {
		color: #a5aebc;
	}
	#cd-cart .cd-price {
		margin-top: .4em;
	}
	#cd-cart .cd-item-remove {
		position: absolute;
		right: 1em;
		top: 50%;
		bottom: auto;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
		width: 32px;
		height: 32px;
		border-radius: 50%;
		background: url("images/cd-remove-item.svg") no-repeat center center;
	}
	.no-touch #cd-cart .cd-item-remove:hover {
		background-color: #e0e6ef;
	}
	#cd-cart .cd-cart-total {
		padding-top: 1em;
		padding-bottom: 1em;
	}
	#cd-cart .cd-cart-total span {
		float: right;
	}
	#cd-cart .cd-cart-total::after {
		/* clearfix */
		content: '';
		display: table;
		clear: both;
	}
	#cd-cart .checkout-btn {
		display: block;
		width: 100%;
		height: 60px;
		line-height: 60px;
		background: #1EADDB;
		color: #FFF;
		text-align: center;
	}
	.no-touch #cd-cart .checkout-btn:hover {
		background: #a2dda8;
	}
	#cd-cart .cd-go-to-cart {
		text-align: center;
		margin: 1em 0;
	}
	#cd-cart .cd-go-to-cart a {
		text-decoration: underline;
	}
	@media only screen and (min-width: 1200px) {
		#cd-cart > * {
			padding: 0 2em;
		}
		#cd-cart .cd-cart-items li {
			padding: 1em 2em;
		}
		#cd-cart .cd-item-remove {
			right: 2em;
		}
	}
	#cd-shadow-layer {
		position: fixed;
		min-height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		background: rgba(67, 87, 121, 0.6);
		cursor: pointer;
		z-index: 2;
		display: none;
	}
	#cd-shadow-layer.is-visible {
		display: block;
		-webkit-animation: cd-fade-in 0.3s;
		-moz-animation: cd-fade-in 0.3s;
		animation: cd-fade-in 0.3s;
	}

	/* -------------------------------- 

	xkeyframes 

	-------------------------------- */
	@-webkit-keyframes cd-fade-in {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}
	@-moz-keyframes cd-fade-in {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}
	@keyframes cd-fade-in {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

/* carro de compras lateral */
/* -------------------------------------------------------------------------------------------------------------------- */
/* Footer */
	footer {
		background-color: #eee;
		color: #4D4D4D;
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 300;
		padding-top: 10px;

	}
	footer.container.row {
	  display: flex;
	  position: absolute;
	}
	footer.container.row.col {
	  flex: 1; 
	}
	footer p {
		font-size: 0.9em;
	}
	footer a {
		color: #4D4D4D; 
		font-size: .9em;
	}
	footer li {
		list-style: none;
		font-size: .9em;
	}
	.f-titulo {
		text-align: left;
		font-size: 1.1em;
	}
	.f-subtitulo {
		font-weight: 400;
		margin-bottom: 0.6em;
	}
	.fin {
		 background: linear-gradient(to right, #8F1B3A, #D4145A);
		 bottom: 0px;
		 position: relative;
		 padding-top: 10px;
		 padding-bottom: 1px;
	}
	.fin p.copyright {
		color: rgba(255,255,255,0.6);
		font-size: 12px;
		line-height: 15px;
		text-align: center;
		font-weight: 300;
	}